[Unit]
Description=GPIO Network Alarm
After=network.target
Wants=gpiod.service
After=gpiod.service

[Service]
ExecStart=/usr/bin/python3 -u /path/to/script/net_alarm.py # update path/to/script
WorkingDirectory=/path/to/script/ # update to script directory
StandardOutput=journal
StandardError=journal
Restart=always
RestartSec=5

User=root # update to non-root user if needed
Group=root # update to non-root group if needed

[Install]
WantedBy=multi-user.target